
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/vision.css' %}">
    <link rel="stylesheet" href="{% static '/css/footer.css' %}">
   
 	
 	
    <title>about/vision/</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">CivilERA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="about/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'about_history'  %}">HISTORY</a>
          <a class="dropdown-item active" href="{% url 'about_vision'  %}">VISION</a>
          <a class="dropdown-item" href="{% url 'about_team'  %}">TEAM</a>
          <a class="dropdown-item" href="{% url 'about_alumni' %}">ALUMNI</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'events'  %}">Events</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gallery'  %}">Gallery</a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="aboutIEI/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          AboutIEI
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url  'aboutIEI_benefits'  %}">IEI</a>
          <a class="dropdown-item" href="{% url 'aboutIEI_membership'  %}">MEMBERSHIP</a>
        </div>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contactus' %}">Contactus</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!--vision section-->
<br>
 <br>
 <br>
 <br>
 <br>
 <br>
 	
 	<section id="about">
 		
	<div class="container">
		<div class="row">
		<div class="col-md-5">
		
		</div>
		<br>
		<div class="col-md-7 about-right">
			
			<h2 class="color-3"><b>Our Vision</b>
			</h2>
			
			<p class="p-first text-white">
				CivilERA is admitting under graduate student members into its fold since 2017 as a part of its continuous endeavour to bridge the gap between the academics and the industry. CivilERA has developed several structured and proactive programs to upgrade the skills of undergraduate students and in response it has received overwhelming from its counter parts.
Starting June 2018, CivilERA has added a new dimension to it's movement by becoming registered student chapter under esteem organization of IE(I) and also by announcing student chapter in HALDIA INSTITUTE OF TECHNOLOGY which is lifetime member of CivilERA. This shall entain a new relation between students and association in terms of skill development in the ambience which is comfortable for student.
			</p>
			<p class="text-white">
				We provide Hassel free environment for the students who encounter difficulties while relating their discipline it would inspire and encourage them by providing workshops organised by CivilERA which would help them improve their outlook towards respective profession.
While initiating this new movement at CivilERA, we realize our responsibility as nation builder and the role that a future civil engineer has to play keeping sustainability at the core of his progress. Professional development group at CivilERA is always available to assist in any matter in concerning the operation of CivilERA student chapter.
			</p>
			
			
		</div>
	 
		</div>
	</div>
  
 	</section>

<!--footer section-->
<div class="container-fluid">
    <div class="row footer-top">
        <div class="col-sm-4 text-center">
            <h4 class="ft-text-title">CivilERA</h4>
            
            <h4 class="details">
                <a class="contact" href="tel:+977-1-4107223">
                    <i class="fa fa-phone" aria-hidden="true"></i> +98000 98000</a>
                </h4>
            </div>
            <div class="col-sm-4 text-center border-left">
                <h4 class="ft-text-title">Our Team</h4>
                <div class="address-member">
                    <p class="member">
                        <b>Director</b> : 
                    </p>
                    <p class="member">
                        <b>Editor</b> : 
                    </p>
                    <p class="member">
                        <b>Reporter</b> : 
                    </p>
                    <p class="member">
                        <b>Reporter</b> : 
                    </p>
               </div>
           </div>
           <div class="col-sm-4 col-xs-12 text-center border-left">
            <h4 class="ft-text-title">Quick Links>></h4>
            <div class="pspt-dtls">
                <a href="{% url 'events'  %}" class="about">Events</a>
                <a href="{% url 'about_team'  %}" class="team">Team</a>
                <a href="{% url 'gallery'  %}" class="advertise">Gallery</a>
                <br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
	<div class="row ft-copyright pt-2 pb-2" style="padding-left: 25px;">
		<div class="col-sm-4 text-pp-crt">copyright 2020 All  Rights Reserved</div>
		<div class="col-sm-4 text-pp-crt-rg">Department of Civil Engineering</div>
		<div class="col-sm-4 developer">
			<a href="https://www.linkedin.com/mwlite/in/gaurav-kumar-jha-b27476167" target="_blank" class="text-pp-crt">Designed & Developed By : <b>G</b>aurav<b>J</b>ha</a>
		</div>
	</div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>