
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/events.css' %}">
    <link rel="stylesheet" href="{% static '/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static '/css/icons.css' %}">
    <link rel="stylesheet" href="{% static '/css/footer.css' %}">
    
    <title>events/</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">CivilERA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="about/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'about_history'  %}">HISTORY</a>
          <a class="dropdown-item" href="{% url 'about_vision'  %}">VISION</a>
          <a class="dropdown-item" href="{% url 'about_team'  %}">TEAM</a>
          <a class="dropdown-item" href="{% url 'about_alumni' %}">ALUMNI</a>
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'events'  %}">Events</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gallery'  %}">Gallery</a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="aboutIEI/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          AboutIEI
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url  'aboutIEI_benefits'  %}">IEI</a>
          <a class="dropdown-item" href="{% url 'aboutIEI_membership'  %}">MEMBERSHIP</a>
        </div>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contactus' %}">Contactus</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="{% static 'images/event_logo.jpg' %}" class="d-block w-100" alt="...">
    </div>
    
  </div>
</div>
<!--events-->



 <!--================Blog Area =================-->
    <section class="blog_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        <article class="row blog_item">
                            <div class="col-md-3">
                                
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{% static 'images/Staad-Pro.webp' %}" alt="">
                                    <div class="blog_details">
                                        
                                            <h2><b>Short Term Training Program on Staad Pro</b></h2>
                                            <p>
                                            <a href="#">25/12/19 to 5/01/2020<i class="ti-calendar"></i></a>
                                            </p>
                                        
                                        <p>STAAD is a structural analysis and design software application originally developed by Research Engineers International in 1997. In late 2005, Research Engineers International was bought by Bentley Systems .It is one of the most widely used structural analysis and design software worldwide. It supports over 90 international steel, concrete, timber & aluminum design codes.</br>

Workshop Detail:</br>

1) Introduction</br>

2) introduction to construction of Beam</br>

3) Analysis of structure</br>

4) sway and non sway analysis</br>

5) Various RC structure</br>

6) Steel Design</br>

7) shortcut of scale command</br></br>

Detail of Faculties:</br>
Mr. Aman (Faculty)</p></p>
                                       
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                               
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{% static 'images/vastu_shastra.jpg' %}" alt="">
                                    <div class="blog_details">
                                       
                                            <h2><b>Workshop on Building Plan according to</br>

'Vastu Shastra'</b></h2>
<p>
                                            <a href="#"> 9/11/19 to 10/11/19<i class="ti-calendar"></i></a>
                                            </p>
                                       
                                        <p>Topic Overview:</br>

Vastu shastra is a traditional Indian system of architecture originating in India which literally translates to "science of architecture." These are texts found on the Indian subcontinent that describe principles of design, layout, measurements, ground preparation, space arrangement, and spatial geometry. Vastu Shastra incorporate traditional Hindu and in some cases Buddhist beliefs. The designs are intended to integrate architecture with nature, the relative functions of various parts of the structure, and ancient beliefs utilizing geometric patterns, symmetry, and directional alignments.</br>

Workshop Detail:</br>

1)VASTU SHASTRA</br>

2)Sandard Size of The Architecht PLAN DOOR & WINDOW DETAILING</br>

3)STAIR DETAILING</br>

4) PLAN 1 BHK, 2 BHK, 3 BHK</br>

5)FOUNDATION</br></br>

Details of Faculties:</br>

Mr Ajit Paria (Faculty coordinator)</br>
Mr Wamique Wahdood</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                               
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{% static 'images/download.jpg' %}" alt="">
                                    <div class="blog_details">
                                        
                                            <h2><b>Workshop on application of "Geoinformatics" in Civil Engineering</b></h2>
                                        <p>
                                            <a href="#">19/10/19 to 20/10/19<i class="ti-calendar"></i></a>
                                            </p>
                                        <p>Geoinformatics is the science and the technology which develops and uses information science infrastructure to address the problems of geography, cartonography, geosciences and related branches of science and engineering.</br></br>

Topics covered:</br>

(1st day of workshop)</br>
    1.What is Gioinformatics? (introduction) </br>
    2.Application of GIS in modern surveying. </br>
    3.Examples of GIS. </br>

(2nd day of workshop) </br>
    1.Software of GIS</br>
    2.Basics regarding GIS</br>
    3.Model of HIT campus from    GIS</br></br>

Details of facilities:</br>
Dr. Abhishek Santra</br>
Dr. Shreyashi Mitra Santra</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{% static 'images/autocad.jpg' %}" alt="">
                                    <div class="blog_details">
                                        
                                            <h2><b>Short Term Training Program On ''AutoCAD''</b></h2>
                                            <p>
                                            <a href="#">02/09/19 to 13/09/19<i class="ti-calendar"></i></a>
                                            </p>
                                        
                                        <p>Topic overview:</br>

AutoCAD is a commercial computer aided design (CAD) and drafting software application. Developed and marketed by Autodesk, AutoCAD was first released in December 1982 as a desktop app running on microcomputers with internal graphics controllers.</br>
</br>
Workshop details:</br>

    1.Draft and edit 2D geometry and 3D models with solids, surfaces and mesh objects. </br>

    2.Annotate drawings with text, dimensions, leaders and tables. </br>

    3.Customize with add-on apps and APIs. </br></br>

Detail of faculty:</br>

Dr. Bikas Bepari
(HOD Production Department) </br>
(Dean of SWC)</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                         </div>
                </div>
            </div>
        </div>
    </section>
<!--footer section-->
<div class="container-fluid">
    <div class="row footer-top">
        <div class="col-sm-4 text-center">
            <h4 class="ft-text-title">CivilERA</h4>
            
            <h4 class="details">
                <a class="contact" href="tel:+977-1-4107223">
                    <i class="fa fa-phone" aria-hidden="true"></i> +98000 98000</a>
                </h4>
            </div>
            <div class="col-sm-4 text-center border-left">
                <h4 class="ft-text-title">Our Team</h4>
                <div class="address-member">
                    <p class="member">
                        <b>Director</b> : 
                    </p>
                    <p class="member">
                        <b>Editor</b> : 
                    </p>
                    <p class="member">
                        <b>Reporter</b> : 
                    </p>
                    <p class="member">
                        <b>Reporter</b> : 
                    </p>
               </div>
           </div>
           <div class="col-sm-4 col-xs-12 text-center border-left">
            <h4 class="ft-text-title">Quick Links>></h4>
            <div class="pspt-dtls">
                <a href="{% url 'events'  %}" class="about">Events</a>
                <a href="{% url 'about_team'  %}" class="team">Team</a>
                <a href="{% url 'gallery'  %}" class="advertise">Gallery</a>
                <br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
	<div class="row ft-copyright pt-2 pb-2" style="padding-left: 25px;">
		<div class="col-sm-4 text-pp-crt">copyright 2020 All  Rights Reserved</div>
		<div class="col-sm-4 text-pp-crt-rg">Department of Civil Engineering</div>
		<div class="col-sm-4 developer">
			<a href="https://www.linkedin.com/mwlite/in/gaurav-kumar-jha-b27476167" target="_blank" class="text-pp-crt">Designed & Developed By : <b>G</b>aurav<b>J</b>ha</a>
		</div>
	</div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>